/* CSS HEX 
--cultured: #fafafaff;
--blue-sapphire: #19647eff;
--raisin-black: #221e22ff;
--tart-orange: #fe4a49ff; #A50104
--mountbatten-pink: #8b728eff; */

body {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background-color: rgb(221, 216, 216); color:#221e22ff; font-size: 1.5em;}
p, h1, h2, h3 {margin-left: 30%; margin-right: 30%;}
h1 {color: #19647eff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 2em;}
h2, h3 {color: #19647eff;}
h3 {font-size: 1em;}
.article {background-color: white; padding: 2em; border-radius: 1em; display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%}
nav a{font-size: 1em;text-decoration: none; font-weight: bold;}
nav a:hover {background-color: #A50104; color:#fafafaff; font-weight: bold;}
article p {margin-left: 15%; margin-right: 15%;}
article h2 {margin-left: 15%; margin-right: 15%;}

/* index page */

#tangermedia {display: flex; margin: auto; width: 95%;}
#rabatmedia {display:flex; width: 95%; margin: auto}
#casablancamedia {display:flex; width: 95%; margin: auto}
#marrakechmedia {display:flex; margin:auto; width: 95%}
.citypic {
  width: 50%; 
  padding: 1em; 
  float:left;}       
.citymap {
  width: 50%; 
  padding: 1em; 
  float:left;
  border-color: #221e22ff;
}

img {padding: 1em;}
a {padding: 1em;}
a:visited {color:#fafafaff;}
footer a:visited {color: #221e22ff;}
footer a{padding:0em}
.clear {clear: both;}



hr {color: #19647eff;}
.banner {
    padding: 0em;
    max-width: 100%;
  }
nav {display: block;
    margin: auto;
    max-width: 100%;
    background-color:#19647eff; 
    color:#fafafaff; 
    padding: 1.4em;
    }
  
.invisible{visibility: hidden; padding: 1em;}
#more {display: none;}
#moretwo {display:none;}
#morethree {display:none;}
button{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    cursor:pointer;
    border:none;
    padding:15px;
    font-size:20px;
    background:#221e22ff;
    color:white;
    box-sizing:border-box;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: .3em;
  }
button:hover{background:#A50104;}
.storymedia {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;}
footer {float: right; font-size: .5em;}

@media only screen and (max-width:600px){
  span {display: none;}
  nav a {padding: 2px; max-width:100%; display: block;}
  nav {padding: .5em;}
  body {margin: auto; width: 95%;}
  .article {margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 0em;}
  .article h2 {margin: 5%;}
  article p {margin: 5%;}
  p, h1, h2, h3 {margin-left: auto;
  margin-right: auto;
  width: 95%;}
  .citymap {padding: 0em;}
  .citypic {padding: 0em;}
  button {margin-bottom: 15px;}
  
  }