body {color: #353535; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
body {margin-left: 100px; margin-right: 100px;}
a {color: #3c6e71;}
body {background-color: #d9d9d9;}
nav {background-color: #353535;}
nav a {color: #3c6e71}
nav a:hover {background-color: #ffffff;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
.quote {float:right;}
.clear {clear: both;}
.links {float:left;}
.links {padding: 10px;}
.address {float:left;}
.box2 {display:flex}
.box2 {background-color: white;border-radius: 1em;}
.map {flex:1; order: 2;}
.form {flex:1; order: 1;}
.form {padding: 30px; padding-left: 50px;}
.map {padding: 10px;}
.box1{background-color: white;border-radius: 1em;}
.address {padding: 10px;}